<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Tours page</title>
</head>
<body>
	<h1>List of available tours</h1>
	
	<div>
		<table th:if="${!tours.empty}">
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Code</th>
				<th>Continent</th>
				<th>Date</th>
				<th>Duration</th>
				<th>All Inclusive</th>
				<th>EDIT</th>
				<th>EDIT details</th>
				<th>REMOVE</th>
				<th>Details</th>
				<th>Sign in</th>
			</tr>
			<tr th:each="tour : ${tours}">
				<td th:text="${tourStat.count}"></td>
				<td th:text="${tour.name}"></td>
				<td th:text="${tour.code}"></td>
				<td th:text="${tour.continent}"></td>
				<td th:text="${#dates.format(tour.date, 'yyyy-MM-dd')}"></td>
				<td th:text="${tour.duration}"></td>
				<td th:text="${tour.allInclusive}"></td>
				<td><a th:href="@{/editTour/} + ${tour.id}">Edit</a></td>
				<td><a th:href="@{/editTourDetails/} + ${tour.id}">Edit Details</a></td>
				<td><a th:href="@{/deleteTour/} + ${tour.id}">Delete</a></td>
				<td><a th:href="@{/showTourDetails/} + ${tour.id}">Details</a></td>
				
				<td><a th:href="@{/addUserToTour/{id}/{userId}(id =${tour.id}, userId=1)}">1</a></td>
				<td><a th:href="@{/addUserToTour/{id}/{userId}(id =${tour.id}, userId=2)}">2</a></td>
			</tr>
		</table>
		<span th:if="${tours.empty}">No tours in the offer</span>
	</div>
	
	<p>
		<a th:href="@{/}">Back</a>
	</p>

</body>
</html>